<div class="container">
<h1> Features List</h1>

<a routerLink="/createFeature"  class="btn btn-primary">Create Feature</a>


<table class="table" *ngIf="features && features.length >0">
    <thead>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Estimated Capacity</th>
        <th scope="col">Status</th>
        <th scope="col">Target compl. Date</th>
        <th scope="col">Actual compl. Date</th>
    </thead>
    <tbody>
        <tr *ngFor="let feature of features">
            <td>{{ feature.id }} </td>
            <td>{{ feature.featureTitle }} </td>
            <td>{{ feature.description }} </td>
            <td>{{ feature.estCapacity }} </td>
            <td>{{ feature.status }} </td>
            <td>{{ feature.targetCompDate }} </td>
            <td>{{ feature.actualCompDate }} </td>
            <td><button (click)="editFeature(feature)" class="btn btn-primary">Edit</button></td>  
            <th><button (click)="editFeature(feature)" class="btn btn-primary">Delete</button></th>   
        </tr>
    </tbody>
</table>

<app-edit-feature [feature]="featureToEdit"></app-edit-feature>

<p *ngIf="!features || features.length ==0">No Features found!!</p>

</div>