
<!-- <div *ngIf="feature">
    <h2>Feature ID -{{ feature.id }}</h2>
<div>
    Title:
    <input [(ngModel)]="feature.featureTitle" placeholder="featureTitle">
</div>
<div>
    Description:
    <input [(ngModel)]="feature.description" placeholder="Description">
</div>
<div>
    Status:
    <input [(ngModel)]="feature.status" placeholder="Description">
</div>
<div>
    Estimated Complexity:
    <input [(ngModel)]="feature.estCapacity" placeholder="Description">
</div> -->
<div class="cart-container">
    <!-- <div class="cart-container__empty" *ngIf="cartData.products.length === 0"> -->
      Your cart is empty.
    <!-- </div> -->
    <!-- <div class="cart-container__list" *ngIf="cartData.products.length > 0"> -->
      <header class="list-header">
        <h2>Cart</h2>
      </header>
    <!-- </div> -->
</div>
<!-- <button (click)="updateFeature(feature)">Save</button>
<button (click)="deleteFeature(feature)">Delete</button> -->

